body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Person {
  border-width: 0 0 0 0.5rem;
  border-style: solid;
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
  border-color: blue;
  background-color: rgb(235, 235, 235);
  margin: 0.5rem;
}
